body{
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    overflow-y: auto;
}
#head p, #head h1, p.one{
    margin: 0;
}
input{
    font-size: 30px;
    font-weight: 400;
    border: none;
    width: 100px;
    border-radius: 7px;
    cursor: pointer;
    box-sizing: content-box;
}
button{
    padding: 7px;
    border-radius: 7px;
    border: none;
    background: green;
    font-size: 23px;
    margin-top: 20px;
    color: white;
}
#head p{
    font-size: 40px;
    font-weight: 800;
}
p.one{
    font-weight: 600;
    font-size: 25px;
}
#head{
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    padding: 50px;
}
#body{
    background:#1F2937;
    padding: 50px;
}
div#length{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
